* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    border: 2px solid black;
    box-sizing: border-box;
}

#resizeBtn {
    cursor: pointer;
}

.square {
    border: 1px solid lightgray;
}

p {
    display: flex;
    gap: 15px;
    margin-bottom: 5px;
}

h2 {
    margin-bottom: 10px;
}